.no_ul_bullets {
  list-style-type: none;
}

.attention_glow {
  -webkit-box-shadow:0 0 20px gray; 
  -moz-box-shadow: 0 0 20px gray; 
  box-shadow:0 0 20px gray;
}

.active_element {
  cursor: pointer;
}

.stick_to_footer {
/* Should be child of #content */
  bottom: 0;
  margin-top: 100px;
}

.indent {
  padding-top: 50px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
}
.container .credit {
  margin: 20px 0;
}

a.hipster {
  color: inherit;
}

/* Contacts */

[data-mark='contacts'] li {
  height: 100px;
}

[data-mark='contacts'] li span.glyphicon {
  font-size: 3.5em;
}

[data-mark='contacts'] li [data-mark='icon'] {
  width: 60px;
  height: 100%;
  float: left;
  text-align: left;
}

/* Roadmap */
[data-mark='roadmap'] img {
  max-width: 100%;
}

/* Login */
#modal-login form .input-group {
    margin-bottom: 10px;
}

/* Catalog */
.catalog div.badge {
  font-size: 18px;
  background-color: #2cb82c;
  margin-top: 10px;
}

.catalog .row {
}

.catalog .item-cell {
  position: relative;
  margin: 5px 0px;
  border: 1px;
}

.catalog .item-cell .item-picture {
  position: absolute;
}

.catalog .item-cell .item-popover-info {
  position: absolute;
  height: 100%;
  right: 0px;
  background-color: #F8F8F8;
}