<% 
did = phoxy.GenerateUniqueID()
if (typeof(available) == 'undefined')
  available = 't';
%>
<button id='<%= did %>' role='buy' class='btn btn-danger' value='<%= this.id %>'>
<%= this.available == 't' ? 'Купить' : 'Заказать' %></button>

<%
if (typeof(this.stayhere) == 'undefined')
  this.stayhere = false;
this.Defer(function()
{
  var that = $("#" + did);
  
  function Bind(that)
  {
    $(that).unbind();
    $(that)
      .click(function()
      {
      //  window.gevents.prebuy._trackEvent('open_stone', __context.id);
        $(that)
          .unbind()
          .click(function()
          {
            $(that)
              .next()
              .popover('destroy')
              .remove();
            Bind(that);
          });

        phoxy.Fancy('buy/stone', {id: __context.id, stayhere: __context.stayhere}, function(html)
        {
          $(that)
            .after(
              $('<div />')
              .popover(
              {
                html: true,
                title: "Способ покупки",
                content: html
              })
            );
          $(that).next().popover('show');
        });
      });
  }
  
  Bind(that);
});
%>