<% did = phoxy.GenerateUniqueID(); %>
<ancor id='<%= did %>'></ancor>

<input type='text' placeholder='Телефон' name='phone' style='width: 100%;'/>
<input type='text' placeholder='Почта' name='mail' style='width: 100%;'/>
<textarea placeholder='Адрес доставки(если нужна)' name='delivery' style='width: 100%; height: 50px'></textarea>

<%
/*
<span id='< %= did % >'>
  <input type="checkbox" data-size="mini" data-mark='delivery-enabled'> Доставка<br>
  <span data-mark='delivery_properties'>
    <input type='checkbox' checked /> Адрес не изменился<br>
    <textarea>
    </textarea>
  </span>
</span>
*/
%>

<br>
<button type='button' class='btn btn-default' disabled>Наличные</button><br>
<button type='button' class='btn btn-default' disabled>VISA/Mastercard</button><br>
<button type='button' class='btn btn-default' disabled>Bitcoin</button><br>

<%
phoxy.Appeared('#' + did, function()
{
  window.gevents.prebuy._trackEvent('online_easy', this.id);
  var span = $('#' + did);
  
  span
    .parents('.popover')
    .css({overflow: 'auto', 'min-width': '300px'});
  
  span
    .parent()
    .find('button')
    .first()
    .prop('disabled', false)
    .click(function()
    {
      window.gevents.buy._trackEvent('online_easy', this.id);
      var parent = span.parent();
      var phone = parent.find("input[name='phone']").val();
      var mail = parent.find("input[name='mail']").val();
      var delivery = parent.find("[name='delivery']").val();

      $(this).prop('disabled', true);

      phoxy.AJAX(
        'buy/Unregistered?id=' + this.id +
        '&phone=' + encodeURI(phone) +
        '&mail=' + encodeURI(mail) +
        '&delivery=' + encodeURI(delivery), function()
      {
        span
          .tooltip({title: "Сохранено"})
          .tooltip('show');

        this.Defer(function()
        {
          span
            .tooltip('destroy')
            .parents('.popover')
            .first()
            .prev()
            .popover('hide');
        }, 1000);
      });
    });
});
%>
