<button type='button' class='btn btn-default' style='width: 200px'>Заказать online</button>
<center><b>или</b></center> 
<button type='button' class='btn btn-default' style='width: 200px'>Оставить телефон</button>

<%
analytics.track("start", {category: "order", phone: this.id});
this.Defer(function()
{
  var online = this.first();
  var phone = online.nextAll('button');
  var all = online.add(phone);
  
  all.click(function()
    { // Prevent spam
      all.prop('disabled', true);

      phoxy.Defer(function()
      {
        all.prop('disabled', false);
      }, 400)
    });

  online
    .click(function()
    {
      analytics.track("phone", {category: "order", phone: __context.id});
    })
    .popover(
    {
      html: true,
      title: "Заказ через звонок",
      content: phoxy.DeferRender('buy/phone', {id: __context.id})
    });

  phone
    .click(function()
    {
      analytics.track("online", {category: "order", phone: __context.id});
    })
    .click(function()
    {
      $(this).parent().html(phoxy.DeferRender('buy/method', {id: __context.id}));
    });

})
%>