<h1><%= this.name %></h1>
<table border='1'>
<%
for (var k in this.params)
{
  var v = this.params[k];
%>
<tr>
  <td>
    <%= phoxy.DeferRender('admin/editmodel/string_by_param', 'admin/editmodel/StringByParam?id='+k) %>
  </td>
  <td>
    <%= phoxy.DeferRender('admin/editmodel/field', {id: this.id, param: k, value: v}) %>
  </td>
</tr>
<%
}
%>
</table>
