<table border='1' id='editshit'>
<%
for (var k in this.params)
{
  var v = this.params[k];
%>
<tr>
  <td>
    <%= this.DeferRender('admin/editmodel/string_by_param', 'admin/editmodel/StringByParam?id='+k) %>
  </td>
  <td>
    <%= this.DeferRender('admin/editmodel/field', {id: this.id, param: k, value: v}) %>
  </td>
</tr>
<%
}
%>
</table>

<%
this.DeferCascade(function()
{
  this.first().find('input').click(function()
  {
    var html = $(this).parents('tr').find('td:first').html().trim().toLowerCase().split(" ");
    $('#marketshit tr').find('td').each(function()
    {
      var cmp = $(this).html().trim().toLowerCase();
      for (var k in html)
        if (cmp.search(html[k]) !== -1)
          $(this).css({"background-color": "green"});
        else
          $(this).css({"background-color": "white"});
    });
  });
}) %>