DirectoryIndex load.html
Options -Indexes
ErrorDocument 403 /404.php

<IfModule mod_rewrite.c>
#Deny From All
RewriteEngine on

RewriteRule ^api/catalog/phones$ api/catalog/_phone [L,QSA]
RewriteRule ^api/catalog/phones/(.*)$ api/catalog/_phone/vendor?name=$1 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^api/(.+)$ rpc.php?api=$1 [L,QSA]
RewriteRule ^api(.*)$ rpc.php?api=main/home$1 [L,QSA]


#refactor but idk how.
RewriteRule ^libs/(.*)$ /phoxy/$0 [L,QSA]
RewriteRule ^phoxy(.*).js$ /phoxy/$0 [L,QSA]

</IfModule>

<FilesMatch "load.html$">
  Header set Cache-Control "public, max-age=2592000"
</FilesMatch>

<FilesMatch ".(ejs|css|js)$">
#debug 
  Header set Cache-Control "public, max-age=3600"
</FilesMatch>

<FilesMatch ".(flv|gif|jpg|jpeg|png|ico|swf|pdf)$">
  Header set Cache-Control "public, max-age=2592000"
</FilesMatch>

Header unset Pragma
Header unset Last-Modified
Header unset ETag
#Header unset Cache-Control
