DirectoryIndex load.html
Options -Indexes
ErrorDocument 403 /404.php

<IfModule mod_rewrite.c>
#Deny From All
RewriteEngine on

RewriteCond %{HTTP_HOST} ^www [NC] 
RewriteRule ^(.*)$ http://scladless.com/$1 [L,R=302,QSA] 

#RewriteRule ^phones/apple(.*)$ /\#!catalog/phones/Apple$1 [NE,L,R=302,QSA]
#RewriteRule ^phones/nokia(.*)$ /\#!catalog/phones/Nokia$1 [NE,L,R=302,QSA]
#RewriteRule ^phones/htc(.*)$ /\#!catalog/phones/HTC$1 [NE,L,R=302,QSA]
#RewriteRule ^phones/lg(.*)$ /\#!catalog/phones/LG$1 [NE,L,R=302,QSA]

RewriteRule ^api/catalog/phones$ api/catalog/_phone [L,QSA]
RewriteRule ^api/catalog/phones/(.*)/$ api/catalog/_phone/vendor?name=$1 [L,QSA]
RewriteRule ^api/catalog/phones/(.*)$ api/catalog/_phone/vendor?name=$1 [L,QSA]
RewriteRule ^api\/catalog\/(\w+)\/(\d+)\/([^\/]*)$ api/catalog/_phone/item?id=$2 [L,QSA]

RewriteCond %{QUERY_STRING} _escaped_fragment_
RewriteRule ^(.*)$ shot.php?url=$1 [L,QSA]

RewriteRule ^api/(.+)$ rpc.php?api=$1 [L,QSA]
RewriteRule ^api(.*)$ rpc.php?api=main/home$1 [L,QSA]


#refactor but idk how.
RewriteRule ^libs/(.*)$ /phoxy/$0 [L,QSA]
RewriteRule ^phoxy(.*).js$ /phoxy/$0 [L,QSA]

#RewriteRule ^notfound.php$ /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ notfound.php?url=$1

</IfModule>

<FilesMatch "load.html$">
#  Header set Cache-Control "public, max-age=2592000"
  Header set Cache-Control "public, max-age=3600"
</FilesMatch>

<FilesMatch ".(ejs|css|js)$">
#debug 
  Header set Cache-Control "public, max-age=60"
</FilesMatch>

<FilesMatch ".(flv|gif|jpg|jpeg|png|ico|swf|pdf)$">
#debug  Header set Cache-Control "public, max-age=2592000"
  Header set Cache-Control "public, max-age=3600"
</FilesMatch>

Header unset Pragma
Header unset Last-Modified
Header unset ETag
#Header unset Cache-Control
