<div data-system='login_bar_system_div'></div>
<%
if (typeof(uid) == 'undefined')
  uid = 0;
var login_button =
  $('<button type="button" class="btn btn-default" style="opacity: 0" />')
  .prop('disabled', true)
  .append
  (
    $('<span />').addClass("glyphicon")
  );
  
if (uid)
  login_button
    .attr('title', "Выйти")
    .tooltip({placement: 'bottom'})
    .find('span')
    .addClass("glyphicon-log-out");
else
{
  login_button
    .attr('title', "Войти")
    .tooltip({placement: 'bottom'})
    .find('span')
    .addClass("glyphicon-log-in");
  MakeModal('#modal-login', login_button, 'login/login_form', undefined, function()
  {
    phoxy.Appeared(login_button, function()
    {
      login_button.prop('disabled', false)
    });
  });  
}

phoxy.Defer(function()
{
  $('div[data-system="login_bar_system_div"]').replaceWith(login_button);
  $('#menu')
    .hover
    (
      function()
      {
        login_button.properShow();
      }
      ,
      function()
      {
        login_button.properHide();
      }
    );
});
%>