<div data-system='login_bar_system_div'></div>
<%
if (typeof(window['uid']) == 'undefined')
  if (typeof(sessionStorage['uid']) == 'undefined')
    window['uid'] = 0;
  else
    window['uid'] = sessionStorage['uid'];
  
var login_button =
  $('<button type="button" class="btn btn-default" style="opacity: 0" />')
  .append
  (
    $('<span />').addClass("glyphicon")
  );
  
if (window['uid'])
{
  login_button
    .attr('title', "Выйти")
    .find('span')
    .addClass("glyphicon-log-out")
    .click(function()
    {
      sessionStorage.removeItem('uid');
      phoxy.ApiAnswer({reset: location.hash});
    });

  phoxy.Appeared(login_button, function()
  {
    phoxy.AJAX('login/profile', function(data)
    {
      name = $('<a />')
        .attr('href', '#profile')
        .html(data.data.surname)
        .properHide();

      $('<li />').html(name).insertBefore(login_button.parents('li').first());

      ToggleProper('#menu', name);
    });
  });
}
else
{
  login_button
    .attr('title', "Войти")
    .find('span')
    .addClass("glyphicon-log-in")
    .prop('disabled', true);
  MakeModal('#modal-login', login_button, 'login/login_form', undefined, function()
  {
    phoxy.Appeared(login_button, function()
    {
      login_button.prop('disabled', false)
    });  
  });  
}

this.Defer(function()
{
  $('div[data-system="login_bar_system_div"]').replaceWith(login_button);
  
  login_button.tooltip({placement: 'bottom'});
  ToggleProper('#menu', login_button);
});
%>