<div data-system='login_bar_system_div'></div>
<%
if (typeof(uid) == 'undefined')
  uid = sessionStorage['uid'];
if (typeof(uid) == 'undefined')
  uid = 0;
  
var login_button =
  $('<button type="button" class="btn btn-default" style="opacity: 0" />')
  .append
  (
    $('<span />').addClass("glyphicon")
  );
  
if (uid)
{
  login_button
    .attr('title', "Выйти")
    .find('span')
    .addClass("glyphicon-log-out")
    .click(function()
    {
      sessionStorage.removeItem('uid');
      phoxy.ApiAnswer({reset: location.hash});
    });
}
else
{
  login_button
    .attr('title', "Войти")
    .find('span')
    .addClass("glyphicon-log-in")
    .prop('disabled', true);
  MakeModal('#modal-login', login_button, 'login/login_form', undefined, function()
  {
    phoxy.Appeared(login_button, function()
    {
      login_button.prop('disabled', false)
    });  
  });  
}

phoxy.Defer(function()
{
  $('div[data-system="login_bar_system_div"]').replaceWith(login_button);
  
  login_button.tooltip({placement: 'bottom'});
  $('#menu')
    .hover
    (
      function()
      {
        login_button.properShow();
      }
      ,
      function()
      {
        login_button.properHide();
      }
    );
});
%>