<nav class="navbar navbar-default" role="navigation">

  <div class="navbar-header dropdown open">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    
    <a class="navbar-brand " href="/" style='color: #666;'>
      <img id='phoxy_ajax_active' src='/res/loading.gif' style='display: inline; float: left;'/> 
      ScladLess Beta
      <span class="caret"></span>
    </a>
    <%= this.DeferRender('catalog/menu', {}) %>
  </div>
<%
this.Defer(function()
{
  var repeat = true;
  
  function Animate(obj)
  {
    obj
      .animate({opacity: 1}, 500)
      .animate({opacity: 0}, 500, function()
      {
        if (repeat)
          Animate(obj);
      });
  }
  
  var brand = $('#menu div.navbar-header a.navbar-brand');
  Animate(brand.find('span'));
  
  brand
    .hover(
      function()
      {
        repeat = false;
      }
    );
    
});
%>  

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
    <%
      var menu =
      {
        left :
        {
         // "Гарантия" : "/warranty",        
          "Доставка" : "/delivery",
         // "Качество" : "/quality",
        },
        right :
        {
          "Контакты" : "/contacts",
        }
      };
    %>
    <%= this.DeferRender('menu/menu', {menu: menu.left}) %>
    <%
    this.DeferCascade(function()
    {
      debugger;
      this.first().find('a[href="/delivery"]').after('<span>бесплатно</span>');
    })
    %>
    </ul>
    <ul class="nav navbar-nav navbar-form navbar-right">
      <li>
        <form role='search'></form>
        <input type="text" class="form-control" placeholder="Поиск в каталоге">
        <button type="button" class="btn btn-default" style="visibility: hidden;"><span class='glyphicon glyphicon-search'></span></button>
      </li>
      <li> <% // Button will be moved here %>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li>
        <form class="navbar-form" data-comment="tools">
          <%= this.DeferRender('menu/login_bar', {}) %>
        </form>
      </li>
      <%= this.DeferRender('menu/menu', {menu: menu.right}) %>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

<%

this.Defer(function()
{
  var form = $("#menu form[role='search']");

  var button = form.parent().find("button");
  var input = form.parent().find("input[type='text']");
  
  
  button = button
    .prop('disabled', true)
    .css({'margin-left': '5px'})
    .detach();

  form.parent().next().append(button);  

  form.remove();

  input.tooltip({title: "Функция в разработке, простите", placement: 'bottom'});

  input.on("focusin", function()
  {
    button.properShow();
  }).on("focusout", function()
  {
    button.properHide();
  });
});
%>