<div class='better-menu' data-spy="affix" data-offset-top="60">
  <a class='Apple ignore_rules'></a>
  <a class='Samsung'></a>
  <a class='Sony'></a>
  <a class='HTC'></a>
  <a class='Nokia'></a>
  <a class='LG'></a>
</div>

<%=
this.Defer(function()
{
  this.first().find('a').each(function()
  {
    var to = $(this).attr('class').split(' ')[0];
    var html = $('<span></span>').addClass('showgoogle').html(to);
    $(this)
      .attr('href', '/catalog/phones/' + to)
      .addClass('onetip')
      .html(html);
  });
  this.first().affix();
})
%>