<%
function ReorganizeAtoLi()
{
  this
    .first()
    .parent()
    .append
    (
      $('<a></a>')
        .attr('href', '#!exclusive')
        .html('Exclusive')
    )
    .find('a')
    .wrap('<li />')
    .last()
    .before('<li class="divider"></li>');
}
%>

<ul class="dropdown-menu">
  <%= this.DeferRender('catalog/root', undefined, ReorganizeAtoLi) %>
<ul>