<table border='1'>
  <th>Time</th>
  <th>Price</th>
  <th>Status</th>  
<%
for (var k in log)
{
  var v = log[k];
%>
<%= phoxy.DeferRender('admin/storage_imei_row_draw', {row: v}, undefined, '<tr><td>') %>
<%  
}
%>
</table>