<tr>
  <td>
<%= typeof(row.snap) != 'undefined' ? row.snap : '%TIME%' %>
  </td>
  <td>
<%= row.price %>
  </td>
  <td>
<%= phoxy.DeferRender('admin/storage_status_from_id', {id: row.status}) %>
  </td>
</tr>