<%
$('title').first().html('ScladLess Контакты');
$('#keywords').attr('content', 'Контакты, Телефон, Время работы, Связаться с нами, Scladless');
$('#description').attr('content', 'Телефон и другие контакты интернет-магазина');
%>

<div class="indent" />
<div data-mark='contacts'>
  <ul class="no_ul_bullets">
    <li data-mark='contact-phone'>
      <span class='glyphicon glyphicon-earphone'></span>
      <b>
        <p><a data-mark='phone'>+7 (921) 8-5678-08</a></p>
        <font color='darkslategray'>Общие вопросы</font><br>
      </b>
    </li>
<% /*    
    <li data-mark='contact-phone'>
      <span class='glyphicon glyphicon-phone-alt'></span>
      <b>
        <p><a data-mark='phone'>+7 (921) 8-5678-18</a> (директор)</p>
        <font color='darkslategray'>Гарантия, претензии</font>
      </b>
    </li>    
*/ %>
    <li data-mark='contact-work-hours'>
      <span class='glyphicon glyphicon-time'></span>
      <b>
        <p>Ежедневно с 11:00 до 20:00</p>
        <p>Доставка с 10:00 до 22:00</p>
      </b>
    </li>
    
    <li data-mark='contact-other'>
      <span class='glyphicon glyphicon-comment'></span>
      <b>
        <a href='http://support.scladless.com'>Тикет система</a><br>
        Вопросы, предложения, поддержка. <br>
      </b>
      <i>
        ...или любой из способов ниже.
      </i>
    </li>

    <li data-mark='contact-other'>
      <span class='glyphicon glyphicon-envelope'></span>
      <b>
        <a href="https://twitter.com/scladless" class='hipster' target="_blank">Twitter</a>
        <a href="http://vk.com/scladless" class='hipster' target="_blank">Вконтакте</a>
        <a href="https://facebook.com/scladless" class='hipster' target="_blank">Facebook</a><br>
        <a href='mailto:support@scladless.com' class='hipster'>support@scladless.com</a><br>        
      </b>
    </li>

    <li data-mark='contact-save'>
      <span class='glyphicon glyphicon-download-alt'></span>
      <b>
        <p><a href='contact.vcf'>VCard</a> (iOS/Android/G+ compatible)</p>
        Вы можете сохранить наш контакт.
      </b>
    </li>

    <li data-mark='juridical'>
      <span class='glyphicon glyphicon-briefcase'></span>
      <b>
        <p><a href='#!contacts' onclick='phoxy.ApiRequest("contacts/Juridical"); return false;'>Реквизиты</a></p>
      </b>
    </li>
  </ul>
</div>

<%
this.Defer(function()
{
  var base = $('#content [data-mark="contacts"]');
  
  var map = base.find('li[data-mark="contact-address"]')
    .hover
    (
      function()
      {
       $(this).find('span').tooltip('show');
      },
      function()
      {
        $(this).find('span').tooltip('hide');
      }
    )
    .find('span').tooltip('show');
    
  //MakeModal("#modal-map", map);
  //MakeModal("#modal-roadmap", base.find('li[data-mark="contact-roadmap"]'));
  
  base.find('span.glyphicon').each(function()
  {
    InsertParent(this, $('<div \>').attr('data-mark', 'icon'));
  });
  
  CorrectPhonesURL();
}
);
%>