<% $('title').first().html('Digital812 Контакты') %>
<div class="indent" />
<div data-mark='contacts'>
  <ul class="no_ul_bullets">
<% /*  
    <li data-mark='contact-address'>
      <span class='glyphicon glyphicon-map-marker' title="Карта здесь!"></span>        
      <b>
        <p>г. Санкт-Петербург</p>
        <p><big>Пока офиса нет</big></p>
      </b>
    </li>
*/ %>
    <li data-mark='contact-phone'>
      <span class='glyphicon glyphicon-earphone'></span>
      <b>
        <a data-mark='phone'>+7 (921) 8-5678-08</a><br>
        <font color='darkslategray'>Общие вопросы</font><br>
        <a data-mark='phone'>+7 (921) 8-5678-18</a> (директор)<br>
        <font color='darkslategray'>Гарантия, претензии</font>
      </b>
    </li>
<% /*
    <li data-mark='contact-work-hours'>
      <span class='glyphicon glyphicon-time'></span>
      <b>
        <p>Ежедневно с 11:00 до 20:00</p>
        <p>Доставка с 10:00 до 22:00</p>
      </b>
    </li>

    <li data-mark='contact-roadmap'>
      <span class='glyphicon glyphicon-road'></span>
      <b style='font-size: 2em'>Как добраться</b><br>
      <b>позвонить</b>
    </li>

    <li data-mark='contact-other'>
      <span class='glyphicon glyphicon-envelope'></span>
      <b>
        <a href="https://twitter.com/scladless" class='hipster' target="_blank">Twitter</a><br>
        <a href="http://vk.com/scladless" class='hipster' target="_blank">Вконтакте</a>
        <a href="https://facebook.com/scladless" class='hipster' target="_blank">Facebook</a><br>
        <a href='mailto:support@scladless.com' class='hipster'>support@scladless.com</a><br>        
      </b>
    </li>
  </ul>
</div>

<%
this.Defer(function()
{
  var base = $('#content [data-mark="contacts"]');
  
  var map = base.find('li[data-mark="contact-address"]')
    .hover
    (
      function()
      {
       $(this).find('span').tooltip('show');
      },
      function()
      {
        $(this).find('span').tooltip('hide');
      }
    )
    .find('span').tooltip('show');
    
  //MakeModal("#modal-map", map);
  //MakeModal("#modal-roadmap", base.find('li[data-mark="contact-roadmap"]'));
  
  base.find('span.glyphicon').each(function()
  {
    InsertParent(this, $('<div \>').attr('data-mark', 'icon'));
  });
  
  CorrectPhonesURL();
}
);
%>

<%=
phoxy.DeferRender(
  'pages/modal', 
  {
    id: "modal-map",
    title: "Контакты сервис центра",
    body: phoxy.DeferRender('pages/map', {})
  })
%>

<%=
phoxy.DeferRender(
  'pages/modal', 
  {
    id: "modal-roadmap",
    title: "Как добраться",
    body: phoxy.DeferRender('pages/roadmap', {})
  })
%>