<%
$('title').first().html('ScladLess Условия доставки');
$('#keywords').attr('content', 'Цены на доставку, условия доставки');
$('#description').attr('content', 'Информация о доставке');
%>

<h2>Только Санкт-Петербург и Лен Область.</h2>
<%= phoxy.DeferRender('pages/delivery_prices', this) %>

Условия:

<ul data-mark='delivery-conditions'>
  <li data-content='Передача товара не осуществляется в общественных местах. Только в помещении - в квартире или офисе.'>Помещение</li>
  <li data-content='Оплата производится наличными деньгами на месте курьеру.'>Наличные</li>
  <li data-content='Время доставки может корректироваться в случае сложной дорожной обстановки на путях следования общественного транспорта.'>Время</li>
</ul>

<%
this.Defer(function()
{
  $("#content ul")
    .addClass("no_ul_bullets")
    .find("li")
    .prepend(
    $('<span />')
      .addClass('glyphicon glyphicon-info-sign')
      .css({opacity: 0, "margin-left": -20, "margin-right" : 10})
    , " ")
    .parent()
    .find('[data-content]')
    .popover({trigger: "hover"})
    .find('span')
    .css({opacity: 0.8});
});
%>
