<div class="jumbotron">
<h3>Снята с производства? Не поставляется в Россию? Нет в нашем городе?</h3>
Если по какой то причине на нашем сайте не оказалось той модели которую вы хотите, смело набирайте <b>+7-921-8-5678-08</b>.<br /> Мы постараемся выполнить любой заказ.
</div>