<table class='table'>
  <tr>
    <td colspan='2'>
      ИП Березин Кирилл Сергеевич
    </td>
  </tr>
  <tr>
    <td>
      ИНН
    </td>
    <td>
      781713647120
    </td>
  </tr>
  <tr>
    <td>
      ОГРНИП
    </td>
    <td>
      314784714800726
    </td>
  </tr>
  <tr>
    <td>
      Адрес
    </td>
    <td>
      Октябрьская 43-27
    </td>
  </tr>
</table>