<div class="well">
<right><b>23.03.2014</b></right><br>
Сегодня, мы, компания ООО "Союз-Связь" рады представить вам совершенно новый сайт.
Система еще дорабатывается, возможны сбои.
Если у вас появились замечания или предложения - пишите нам на info@digital812.ru, или жмите на кнопку справа.
</div>