<div class="well">
<right><b>21.03.2014</b></right><br>
Сегодня, мы, компания ООО "Союз-Связь" рады представить вам совершенно новый сайт.
О возможных сбоях и предложения присылайте на адрес info@digital812.ru
</div>