<% $('title').first().html('ScladLess Новости') %>
<% /*
<div class="well">

<right><b></b></right><br>
</div>

*/ %>
<div class="jumbotron">
  Мы пробуем новый дизайн сайта. Пожалуйста не растеряйтесь, логотипы слева, это кнопки.
</div>
