<% $('title').first().html('ScladLess Новости') %>
<% /*
<div class="well">

<right><b></b></right><br>
</div>

*/ %>

<div class="jumbotron news">
  <span>08.09.2014</span>
  <p>
    Мы рады приветствовать Вас на территории завтрашнего дня - Scladless. Благодаря постоянному стремлению быть на вершине прогресса, мы на шаг впереди всех.
  </p>
  <p>
   Мы не боимся запускать то, что еще вчера придумали. Мы знаем, что вы хотите жить в будущем. Мы знаем, как быстро оно ускользает и становится прошлым. Мы - свежий глоток в царстве устаревших технологий.
  </p>
  <p>
  И мы готовы делиться с Вами. Благодаря <s>машине времени</s> нашей смелости, новинки индустрии появятся у нас раньше, чем у всех. Оставайтесь на связи, и вы убедитесь в этом.
  </p>
</div>
