Гарантия - 1 Год!

Информация о гарантийном обслуживании:

Все товары, продаваемые в интернет-магазине Digital812, имеют Европейскую сертификацию.

В течении гарантийного срока любые неисправности, не вызванные нарушением условий эксплуатации устройств, устраняется бесплатно.


Обслуживание осуществляется в уполномоченном сервисном центре. 

Сервис-центр
<ul data-mark='warranty-service'>
    <li data-content=''>Номер для сервисного обслуживания и по всем вопросам ремонта: 89013010069</li>
    <li data-content=''>Адрес сервисного центра указан в гарантийном талоне.</li>
<ul>

Гарантия аннулируется в следующих случаях:
<ul data-mark='warranty-cancellation-conditions'>
    <li data-content=''>При отсутствии на гарантийном талоне подписей клиента, продавца и/или печати магазина.</li>
    <li data-content=''>При обнаружении механических повреждений или повреждений, вызванных несоблюдением требований хранения или правил эксплуатации телефона (следы ударов, трещины в корпусе, царапины, искривление корпуса из-за перегрева, следы повреждения жидкостями, выдавливание жидкокристаллического дисплея, деформация антенны и пр.)</li>
    <li data-content=''>При наличии следов вскрытия и/или нарушении заводских пломб сохранности.</li>
    <li data-content=''>При поломке аппарата, в связи с использованием аксессуаров или комплектующих, не одобренных предприятием- изготовителем или торгующей организацией.</li>
    <li data-content=''>При повреждениях изделия, вызванных стихией, пожаром, бытовыми факторами и прочими форс-мажорными обстоятельствами, а также действиями третьих лиц.</li>
<ul>


<%
phoxy.Defer(function()
{
  $("#content ul")
    .css({"list-style-type" : "none"})
    .find("li")
    .prepend(
    $('<span />')
      .addClass('glyphicon glyphicon-info-sign')
      .css({opacity: 0, "margin-left": -20, "margin-right" : 10})
    , " ")
    .parent()
    .find('[data-content]')
    .popover({trigger: "hover"})
    .find('span')
    .css({opacity: 0.8});
});
%>
