<div class='row'>
  <div class='col-md-8'>
    <div class="form-group">
        <input class="form-control" placeholder="Ссылка на модель в маркете" />
        <label>Добавить модель на отслеживание</label>
    </div>
  </div>
  <div class='col-md-4'>
    <button class='btn'>Добавить</button>
  </div>
</div>

<a href='/ym/prices/cp/Spectate'>Смотреть последние цены</a>
<%= this.DeferRender('ym/prices/cp/GetList') %>

<%
debugger;
this.Defer(function()
{
  this.first().find('button').click(function()
  {
    var url = __context.first().find('input').val();
    
    phoxy.ApiRequest('/ym/prices/cp/AddToWatch', [url], function()
    {
      __context.first().find('input').val('');
    });
  })
})

%>