<form method='post' action='api/login/submit'>

  <div class='input group'>
  <input type='text' class='form-control' placeholder='Логин' />
  </div>

  <div class='input group'>
  <input type='password' class='form-control' placeholder='Пароль' />
  </div>
<%
  
%>
  <button type='submit' />
</form>