<div data-mark='login-form' data-switch='login'>
  <form method='post' action='api/login/submit'>

    <div class='input-group'>    
      <input type='text' class='form-control' placeholder='Почта' data-order-tooltip='Сюда придет письмо с номером заказа'/>
      <span class="input-group-addon"></span>
    </div>
    <div class='input-group'>
      <input type='password' class='form-control' placeholder='Пароль' data-order-tooltip='Необходим что бы следить выполнением заказа' />
      <span class="input-group-addon"></span>
    </div>
    <div data-mark='additional-reg-fields'></div>
    <delimeter ></delimeter>
    <delimeter ></delimeter>
    <button type="button" class="btn btn-info" data-mark='switch-to-reg'>Регистрация</button>
    <button type="submit" class="btn btn-default" data-mark='login-button'>Войти</button>
  </form>
</div>

<%
phoxy.Defer(function()
{
  var form = $('[data-mark="login-form"]');

  form
    .find('delimeter')
    .each(function()
    {
      $(this).replaceTag('<div style="height: 10px;" data-comment="delimeter" \>');
    });
  form
    .find("[data-mark='switch-to-reg']")
    .click(function()
    {
      SwitchToReg();
    });
});
%>