<%=
phoxy.DeferRender(
  'pages/modal', 
  {
    id: "modal-login",
    title: "<div id='login-title' style='display: inline;'>Авторизация</div> на сайте",
    body: phoxy.DeferRender('login/form')
  })
%>

<%
phoxy.Appeared('#modal-login form', function()
{
  var modal_body = this.parent().parent();
  
  function Reattach( selector )
  {
    var button = 
      modal_body
        .find(selector)
        .detach();
    modal_body
      .find("[data-mark='modal-foot']")
      .prepend(button);
    return button;
  }
  Reattach('button[data-mark="login-button"]');
  Reattach('button[data-mark="switch-to-reg"]').css({'float': 'left'});
});
%>