<div class='callus-widget'>
  <div class='relative'>
    <div>
          <div class="aura-container">
            <div data-comment="helper phone aura">
              <div data-comment="Phone aura">
              </div>
            </div>
          </div>
    </div>
    <div>
          <div class="phone-container" data-comment="container-for-phone">
            <div data-comment="Helper for phone-circle sizes">
              <div class='phone-circle'>
                <span>
                  <span class='glyphicon glyphicon-earphone'></span>
                </span>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>

<%
this.Defer(function()
{
  if (phoxy.Config()["ip"] == "213.21.7.6")
    this.first().css('opacity', 1);
})
%>