<div class='callus-widget'>
  <div class='relative'>
          <div>
            <div class="center">
              <div>
                <div class="pulse-emit">
                </div>
              </div>
            </div>
          </div>
          
          <div>
            <div class="center">
              <div>
                <div class="aura-container">
                </div>
              </div>
            </div>
          </div>

          <div class="center">
            <div>
              <div class='phone-circle'>
                <span>
                  <span class='glyphicon glyphicon-earphone'></span>
                </span>
              </div>
            </div>
          </div>
  </div>
</div>

<link href="css/callus-widget.css" rel="stylesheet" media="screen">

<%
this.Defer(function()
{
  if (phoxy.Config()["ip"] == "213.21.7.6")
    this.first().css('opacity', 1);
})
%>