<div class="callus-langing">
  <h3>Доверьтесь нашему специалисту!</h3>
  <p>Закажите звонок специалиста всего за 30 секунд</p>
  <div class='row'>
    <div class='col-md-6'>
      <div class="input-group input-group-lg">
        <input placeholder="Ваш номер" class="form-control">
      </div>
    </div>
    <div class='col-md-6 countdown'>
    </div>
  </div>
  <br>
  <p>Или наберите +7 (921) 8-5678-08</p>
</div>

<%
var start;
var cd;

function Timestamp()
{
  var t = new Date();
  return t.getTime();
}

function Decorate(ms)
{
  var ss = parseInt((ms / 10)) % 100;
  var s = parseInt(ms /= 1000) % 60;

  function Correct(n)
  {
    if (n < 10 == 1)
      return "0" + n;
    return n;
  }

  return "00:"+Correct(s)+":"+Correct(ss);
}

function Animate()
{
  if (!start)
    return;

  var now = Timestamp();
  var remain = 30 * 1000 - (now - start);

  if (remain < 0)
    remain = 0;

  cd.html(Decorate(remain));

  if (!remain)
    return;

  phoxy.Defer(Animate, 50);
}

this.Defer(function()
{
  cd = this.first().find('.countdown');

  this.first().parents('.modal')
    .on('show.bs.modal', function()
    {
      debugger;
      start = Timestamp();
    })
    .on('shown.bs.modal', function()
    {
      Animate();
    })
    .on('hidden.bs.modal', function()
    {
      start = 0;
    });
})
%>